.title-div {
    margin-top: 30px;
    text-align: center;
}

.chart-div {
    margin: auto;
    margin-top: 10px;
    height: 400px;
    width: 750px;
    box-shadow: 0 2px 30px #fff;
    padding: 40px;
}